$unit: 3em;
$header-bgc: #006400;
$menu-bcg-hover: #9acd32;
$menu-txt-color: #ffffff;
$menu-txt-hover: #ffff00;
$submenu-txt-hover: #000000;
$submenu-bgc: #ff7f50;
$submenu-width: 120px;
$padding-menu: 8px;